/* Tela grande */
@media (min-width: 768px) {
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar-brand {
	padding-top: 3px;
}

.aw-link-panel {
	float: right;
	padding: 0px;
}

.aw-titulo-panel {
	float: left;
	padding-top: 2px;	
}

.container img {
    max-width: 100px;
    max-height:200px;
    width: auto;
    height: auto;
}
.container {
    clear: both;
    padding-top: 3px;
}
img {
    vertical-align: top
}

.container2 img {
    max-width: 150px;
    max-height:100px;
    width: auto;
    height: auto;
}

.container2 {
    clear: both;
    padding-top: 1px;    
}
  