<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<!-- <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">        
            <a class="navbar-brand" href="#">
                <img alt="Controle de Títulos" src="/images/logo_controletitulo.png" />                
            </a>         
        </div>
    </div>
</nav> -->

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">        
            <a class="navbar-brand container" href="#">
                <img alt="Controle de Títulos" src="/images/logo_controletitulo.png" />
            </a>
        </div>
        
        <div class="navbar-header">        
            <a class="navbar-brand container2" href="#">
                <img alt="Controle de Títulos" src="/images/logo_andreitoledo.png" />
            </a>
        </div>
    </div>
</nav>
    
</html>